<div class="container">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow">
          <h2 class = "text-center fw-1 fs-1 m-5"> Booking </h2>
          <%= simple_form_for [@bunker, @booking] do |f| %>
            <%= f.input :start_date, as: :date, input_html: {class: "datepicker"}%>
            <%= f.input :end_date, as: :date, input_html: {class: "datepicker"}%>
                <div class="form-actions text-center">
                  <%# <%= link_to "Book Now", new_bunker_booking_path(@bunker), data: {turbo_method: :get, turbo_confirm: "CONGRATS you're booked billio !" }, class: "btn btn-dark btn-lg btn-block mt-4 custom-button" %>
                  <%= f.submit "Submit booking ", data: {turbo_method: :get, turbo_confirm: "CONGRATS you're booked billio !" }, class: "btn btn-dark btn-lg btn-block mt-4 custom-button"%>
                  <br>
                  <%= link_to "back to home", root_path %>
                </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
