<h1 class = "titre-show fs-3 fw-1 text-left mb-5"> Here's your offers !</h1>

        <% @bunkers.each do |bunker| %>
        <%= bunker.title %>
          <% if bunker.photo.attached? %>
              <%= cl_image_tag bunker.photo.key, height: 300, width: 400, crop: :fill, class: "img_bunker"%>
          <% end %>
            <li><%= bunker.description %> </li>
            <li><%= bunker.prix %></li>
        <% end %>

        <%= link_to "Add new offer", new_bunker_path if policy(bunker).new?%>
        <%# <%= link_to "New Offer", new_bunker_path if policy(bunker).new? %> 
