<h2 class = "text-center fw-1 fs-1 m-5">  Create Your Bunker's offer !</h2>




<%= simple_form_for(@bunker) do |f| %>
  <div class="form-inputs">

    <%= f.input :title,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "title" } %>
     <%= f.input :title %>

     <%= f.input :description,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "description" } %>

     <%= f.input :prix,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "prix" } %>

     <%= f.submit "Submit offer ", class: "btn btn-primary" %>
  </div>
<% end %>
