<h1 class = "titre-show fs-3 fw-1 text-center mb-4" > Welcome to your offers </h1>

<div class="container">
  <div class="card mb-5">
        <div class="row no-gutters">
            <div class="col-auto">
                <% if @bunker.photo.attached? %>
                  <%= cl_image_tag @bunker.photo.key, height: 300, width: 400, crop: :fill, class: "img_show"%>
                <% end %>
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title mt-3"><%= @bunker.title %></h4>
                    <p class="card-text"><%= @bunker.description %></p>
                    <p class="card-text"><%= @bunker.prix %></p>
                      <% if current_user != @bunker.user  %>
                        <%= link_to "Book this bunker", new_bunker_booking_path(@bunker)%>
                      <% end %>
                     <p><% if current_user == @bunker.user  %>
                     <%# <% end %>

                      <%= link_to "Delete", bunker_path(@bunker), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>

                      <%# <% if policy(@bunker).edit? %>
                      <%= link_to "Edit your offer", edit_bunker_path(@bunker.id), class: "btn btn-primary" %>

                      <%= link_to "Dashboard", profil_path, data: {turbo_method: :get}, class: "btn btn-secondary" %>
                      <% end %>

                </div>
            </div>
        </div>
  </div>
</div>
