<!DOCTYPE html>
<html>
  <head>
    <title>BillionaireBunkerBaby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.css">
</head>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
